@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.about, .skills, .project, .contact, .title{
    font-family: 'Lora', serif;
    padding-top: 30px;
}

.skills, .contact {
    color: lightgrey;
}

@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }

    .navbar a.icon {
      float: right;
      display: block;
    }

    .navbar.responsive {
        flex-direction: column;
    }

    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar a:hover {
        color: grey
    }

    .about .about-content .right .text span{
        padding-left: 0 !important;
    }

    .skills .skills-content .column {
        width: 100%;
    }
    .skills .skills-content .left{
        flex: 100%;
    }

    .skills .skills-content .right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto 60px;
        width: 100% !important;
    }

    .project .project-content .left .video iframe{
        height: 30vh !important;
    }
}

@media screen and (max-width: 1100px) {
    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    font-family: 'Playfair Display', serif;
    z-index: 1;
    display:flex;
    justify-content: flex-end;
    transition: all 0.4s;
}

.navbar .icon {
    display: none;
}

.navbar a {
    color: lightgrey;
    text-align: center;
    padding: 18px 32px;
    text-decoration: none;
}

.navbar a:hover {
    color: grey
}


.navbar.sticky {
    background-color: navy;
}

.navbar.sticky a:hover {
    background-color: white;
}

.navbar.sticky.responsive a {
    background-color:transparent;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-top: 30px;
}

.home{
    display: flex;
    height: 100vh;
    background: url("background.png");
    color: lightgrey;
    min-height: 500px;
    background-size: cover;
    font-family: 'Playfair Display', serif;
}

.home .home-content {
    align-self: center;
    margin-left: 10%;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
}

.home .home-content .text-3{
    font-size: 40px;
}

.home .home-content .words {
    height: 60px;
    overflow: hidden;
}
.home .home-content span{
    display: block;
    color: royalblue;
    font-weight: 500;
    animation: spin_words 6s infinite;
}

@keyframes spin_words {
    0% {
        transform: translateY(0%);
    }
    15% {
        transform: translateY(-110%);
    }
    23%, 25% {
        transform: translateY(-100%);
    }
    40% {
        transform: translateY(-210%);
    }
    48%,50% {
        transform: translateY(-200%);
    }
    65% {
        transform: translateY(-90%);
    }
    73%, 75% {
        transform: translateY(-100%);
    }
    90% {
        transform: translateY(10%);
    }
    98%, 100% {
        transform: translateY(0%);
    }
}

/* about section styling */
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px 50px 80px;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text .words{
    overflow: hidden;
    height: 30px;
}

.about .about-content .right .text span{
    display: block;
    color: royalblue;
    font-weight: 500;
    padding-left: 10px;
    animation: spin_words 6s infinite;
}

.about .about-content .right p{
    text-align: left;
    font-size: 20px;

}

.about .about-content .right a{
    display: inline-block;
    background: royalblue;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid royalblue;
}

.about .about-content .right a:hover{
    color: royalblue;
    background: none;
}

/* skills section styling */
.skills{
    background: url("backgroundnopic.png");
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px 50px 80px;
}

.skills .skills-content .left{
    width: 50%;
    margin-bottom: 60px;
}

.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: left;
    font-size: 20px;
}

.skills .skills-content .right{
    width: 45%;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: royalblue;
}

.skills-content .right .python::before{
    width: 80%;
}

.skills-content .right .sql::before{
    width: 70%;
}

.skills-content .right .html::before{
    width: 60%;
}

.skills-content .right .css::before{
    width: 60%;
}

.skills-content .right .js::before{
    width: 50%;
}

/* Clear floats after the columns */
.skills:after {
    content: "";
    display: table;
    clear: both;
}

.project .project-content{
    padding: 60px;
}

.project .project-content .left .video iframe{
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    height: 60vh;
}

.project .project-content .left .video{
    padding-bottom: 30px;
}

.project .project-content p {
    text-align: left;
    font-size: 20px;
}

.project .project-content .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* contact section start */
.contact {
    background: url("backgroundnopic.png");
}

.contact .contact-content {
    padding: 50px 80px 50px 80px;
}

.contact .contact-content .text{
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
}

.contact .contact-content p{
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px ;
}

.contact .contact-content .info .head{
    font-weight: 600;
}

.contact .contact-content .row{
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.contact .contact-content .row .info{
    flex: 25%;
    padding: 20px;
}

.contact .contact-content .row .info a{
    color: royalblue;
}

.contact .contact-content .info .sub-title{
    font-weight: 500;
}

.myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: navy; /* Set a background color */
    color: lightgrey; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}